@{
    ViewBag.Title = "List";
}
@section HeadContent{
    @Styles.Render("~/Content/Student")
    @Styles.Render("~/Content/css")
}
<div ng-app="studentApp">
    <div ng-controller="PathwayCtrl as vm">

        <!-- <md-button type="submit" class="textAR" ng-click="vm.GetCRUDList()">Show List</md-button>-->
        <h4 class="textAR">
            Show List
            <input type="checkbox" ng-model="showHide1" ng-click="vm.GetCRUDList()" class="chkbtn">
        </h4>

        <div ng-show="showHide1">
            <table>
                <tr>
                    <th>Client Id</th>
                    <th>Client Name</th>
                    <th>Email</th>
                    <th>Project Type</th>
                    <th>Description</th>
                    <th>Hourly Rate</th>
                    <th>I Accept</th>
                    <th>Enable Specials</th>
                </tr>
                <tr ng-repeat="data in vm.studentList">
                    <td>{{data.ClientId}}</td>
                    <td>{{data.ClientName}}</td>
                    <td>{{data.Email}}</td>
                    <td>{{data.ProjectType}}</td>
                    <td>{{data. Descripion}}</td>
                    <td>{{data.HourlyRate}}</td>
                    <td>{{data.iAccept}}</td>
                    <td>{{data.enable}}</td>
                    <td><md-button type="submit" class="textAR"> <a href="~/Student/ViewInput/ {{data.ClientId}}"> View </a></md-button></td>
                    <td><md-button type="submit" class="textAR"> <a href="~/Student/Update/{{data.ClientId}}"> Update </a></md-button></td>
                    <td><md-button type="submit" class="textAR" ng-click="vm.DeleteInput(data.ClientId)">Delete</md-button></td>
                </tr>
            </table>
        </div>
    </div>
    <md-button type="submit" class="textAR"> <a href="~/Student/"> Back </a></md-button>
</div>

@Scripts.Render("~/bundles/Common")
@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/Student")
