@{
    ViewBag.Title = "List";
}
@section HeadContent{
    @Styles.Render("~/Content/Student")
    @Styles.Render("~/Content/css")
}
<div ng-app="studentApp">
    <div ng-controller="ListCtrl as vm">
        <div>
            <h1 class="txthead"> ALL DATA</h1>
            <table>
                <tr style="text-align:center">
                    <th>Client Id</th>
                    <th>Client Name</th>
                    <th>Email</th>
                    <th>Project Type</th>
                    <th>Description</th>
                    <th>Hourly Rate</th>
                    <th>I Accept</th>
                    <th>Enable Specials</th>
                </tr>
                <tr ng-repeat="data in vm.studentList">
                    <td>{{data.ClientId}}</td>
                    <td>{{data.ClientName}}</td>
                    <td>{{data.Email}}</td>
                    <td>{{data.ProjectType}}</td>
                    <td>{{data. Descripion}}</td>
                    <td>{{data.HourlyRate}}</td>
                    <td><md-checkbox ng-model="data.iAccept" ng-disabled="true"></md-checkbox></td>
                    <td><md-checkbox ng-model="data.enable" ng-disabled="true"></md-checkbox></td>
                    <td><md-button class="textAR md-raised md-primary" ng-click="vm.ViewInput(data.ClientId)"> View </md-button></td>
                    <td><md-button class="textAR md-raised" ng-click="vm.UpdateInput(data.ClientId)"> Update</md-button></td>
                    <td><md-button type="submit" class="textAR md-raised md-warn" ng-click="vm.DeleteInput(data.ClientId)">Delete</md-button></td>
                </tr>
            </table>

        </div>
    </div>
    <md-button type="submit" class="textAR md-raised md-primary"> <a href="~/Student/"> Back </a></md-button>
</div>

@Scripts.Render("~/bundles/Common")
@Scripts.Render("~/bundles/Angular")
@Scripts.Render("~/bundles/List")

